/* A custom hover members made by Kronweber */

.c8ffbb79449f399c-container {
  transition: 0.5s;
  width: 70px !important;
}

.c8ffbb79449f399c-container:hover {
  transition: 0.5s;
  width: 265px !important;
}

.c8ffbb79449f399c-membersGroup {
  transition: 0.5s;
  height: 0px !important;
  opacity: 0% !important;
  padding: 0px !important;
}

.c8ffbb79449f399c-container:hover .c8ffbb79449f399c-membersGroup {
  transition: 0.5s;
  height: 40px !important;
  opacity: 100% !important;
  padding: 24px 8px 0px 16px !important;
}
