/* A custom hover members made by Kronweber */

._740174f3d6a2c8fe-scrollableContainer:not(._6a919231d4bdfd4f-bioTextArea):not(._622804cc784b0571-messageInput ) {
    overflow-y: hidden;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 51px;
  gap: 0px;
  align-items: center;
  padding-left: 0px;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._0923f156a0410684-uploadInput {
  grid-column: 1;
  grid-row: 2;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._0923f156a0410684-attachWrapper {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._0923f156a0410684-attachWrapper > ._0923f156a0410684-attachButton {
  margin-left: 0px !important;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea {
  grid-column: 1 / span 4;
  grid-row: 1;
  max-height: calc(var(--custom-channel-textarea-text-area-max-height) - 51px);
  overflow-y: auto;
  padding-left: 10px;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea > div > ._1b31f471f0bb10ab-placeholder{
  padding-left: 10px;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-800-hsl) /.6);
  border-radius: 8px;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-track {
  border-width: initial;
}
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-thumb,
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 4px solid transparent;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-buttons {
  grid-column: 3;
  grid-row: 2;
  justify-content: flex-end;
  padding-right: 8px;
}

._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._0923f156a0410684-uploadInput,
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._0923f156a0410684-attachWrapper,
._740174f3d6a2c8fe-inner._740174f3d6a2c8fe-sansAttachButton > ._740174f3d6a2c8fe-buttons {
  position: sticky;
  bottom: 0;
  background: var(--bg-overlay-floating,var(--chat-background-default));
  border-top: 1px solid gray;
  z-index: 10;
}
