/**
* @name WizardUI - Dark mode [Customized by Yuuki]
* @author Purple Wizard#0984
* @authorLink https://github.com/GoldenLys
* @version BETA
* @invite SBuYeHh
* @description An amazing theme with full customization included, made with 💖 by Purple Wizard.
* @website https://purplewizard.space/
*/

@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");
@import url("https://goldenlys.github.io/WizardUI/base.css");

/* This is an addon that moves the servers list text to the top of the app with a full vertical width.*/
@import url("https://goldenlys.github.io/WizardUI/addons/PurpleServerList.css");

/* This is an addon that hides the members list until you hover over it */
@import url("https://goldenlys.github.io/WizardUI/addons/HoverMembers.css");

/* An addon with edits made by Yuuki to fix compatibility with some plugins and a few other minor things */
@import url("https://raw.githack.com/Yuuki2628/WizardUI-additions/main/YuukiWizardUI.css");

/* Sus file warning */
@import url("https://raw.githack.com/Yuuki2628/WizardUI-additions/main/SusFiles.css");

*, *:before, *:after {
    /* MAIN VARIABLES */
    --font: "Quicksand";
    --Text: rgb(255, 255, 255);
    --Highlighted: rgba(109, 48, 156, 0.5);
    --MessageHover: rgba(0, 0, 0, 0.5);
    --Unread: rgba(255, 255, 255, 0.15);
    --Hover: rgba(63, 0, 92, 0.5);
    --Selected: rgba(174, 0, 255, 0.25);

     /* STATUS VARIABLES */
    --Online: rgb(0, 255, 6);
    --Idle: rgb(18, 100, 239);
    --Unavailable: rgb(228, 15, 0);
    --Offline: rgb(90, 95, 100);
    --Streaming: rgb(110, 0, 196);

    /* UI COLOR VARIABLES */
    --grey: rgb(7, 0, 10);
    --grey5: rgba(7, 0, 10, 0.5);
    --darkgrey: rgb(18, 2, 34);
    --darkgrey5: rgba(18, 2, 34, 0.5);

    /* THEME COLORS */
    --Primary: rgb(127, 47, 173);

    /* BACKGROUNDS */
    --logo: url(https://goldenlys.github.io/WUITG/images/home.png);
    --background: url(https://cdn.discordapp.com/attachments/722551851891032134/853270928184180736/dark-background-4.jpg);
    --mini-profile: url(https://purplewizard.space/images/profile.jpg);
    --bg-titlebar: var(--bg-ui);
    --bg-servers: var(--bg-ui);
    --bg-ui: rgba(24, 21, 27, 0.15);
    --bg-chatbox: var(--bg-ui);
    --bg-sendmessage: var(--bg-ui);
    --text-link: var(--Primary);
    --bg-members: var(--bg-ui); 
    --bg-chat-elements: var(--grey5); 
    --bg-settings: var(--darkgrey5);
    --ServerFoldersColor: rgb(162, 0, 255);

    /* SERVER SETTINGS */
    --ServerSize: 45px;
    --ServerColumns: 1;
    --ServerSpacing: 6px 2px 0px 2px;
    --ServerPills: var(--Primary);

    /* ROUNDING */
    --Rounding: 5px;
    --StatusRounding: 4.5;
}

/* Support code */
