/* CSS snippets made by Kronweber as extra customizations to the T1 theme */

[class*=channelTextAreaDisabled] {
  display: none;
}

/* Hide the account change notification */
.containerTop__45edc {
  display: none;
}

/* Fix typing font size */
.text_b88801 {
  font-size: 14px;
}

/*
------------------PLUGIN FIXES BELOW------------------
*/
