/* CSS snippets made by Yuuki#2628 as extra customizations to the T1 theme */

/* This is an addon that moves the "user is typing" text to the bottom of the app, like the default discord.*/
.typing__6fd1d {
  background: rgba(0, 0, 0, 0.65);;
  position: relative;
  margin-bottom: -25px;
  left: 48px;
}
[class*=channelTextAreaDisabled] {
  display: none;
}
.chat__52833 [class*=channelTextAreaDisabled] .textArea__74543>.placeholder__4bea5:after {
  content: "You do not have permission to send messages in this channel.";
}
.form__13a2c{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100% !important;
}

/* Hide the account change notification */
.containerTop__48d9b {
  display: none;
}

/* Colored unread channels */
.containerDefault_ae2ea4 div:is(.modeUnreadImportant__35358) .linkTop_c8969d .name__4eb92 {
  color: white !important;
}
.containerDefault_ae2ea4 div:is(.modeMuted_f0a72e) .linkTop_c8969d .name__4eb92 {
  color: var(--interactive-muted);
}
.selected__11b62 {
background-color: rgba(255,255,255,0.15) !important;
}

/* Hover effect on messages and channels */
.messageListItem__050f9:hover{
  background-color:rgba(255,255,255,0.065);
}
.containerDefault_ae2ea4:hover{
  background-color:rgba(255,255,255,0.15);
}

/*
------------------PLUGIN FIXES BELOW------------------
*/
