/* CSS snippets made by Yuuki#2628 as extra customizations to the T1 theme */

/* This is an addon that moves the "user is typing" text to the bottom of the app, like the default discord.*/
.typing__6fd1d {
  background: var(--bg-sendmessage);
  position: relative;
  margin-bottom: -25px;
  left: 48px;
}
[class*=channelTextAreaDisabled] {
  display: none;
}
.chat__52833 [class*=channelTextAreaDisabled] .textArea__74543>.placeholder__4bea5:after {
  content: "You do not have permission to send messages in this channel.";
}
.form__13a2c{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100% !important;
}

/* Hide the account change notification */
.toast-q3Y4wI{
  display: none;
}

/* Colored unread channels */
.containerDefault__3187b div:is(.modeUnread_f74c03) .linkTop_eaa673 .name__8d1ec{
  color: white !important;
}
.containerDefault__3187b div:is(.modeMuted__0aeea) .linkTop_eaa673 .name__8d1ec{
  color: var(--interactive-muted);
}
.selected__3b4cb{
background-color: rgba(255,255,255,0.15) !important;
}

/* Hover effect on messages and channels */
.messageListItem__6a4fb:hover{
  background-color:rgba(255,255,255,0.065);
}
.containerDefault__3187b:hover{
  background-color:rgba(255,255,255,0.15);
}

/*
------------------PLUGIN FIXES BELOW------------------
*/
